# My First Program

In [2]:
print ("Hello World")

Hello World

In [3]:
print ("Banerjee")

Banerjee

### Data Types

In [8]:
name="Banerjee"
type(name)

str

In [9]:
x=10
type(x)

int

In [10]:
y=10.6
type(y)

float

In [11]:
x=True
type(x)

bool

In [18]:
name lists="Arjun","Kumar"
name lists

SyntaxError: invalid syntax (1605457933.py, line 1)

 Variable name should not contain spaces

In [19]:
2names="Raghav","Singh"
2names

SyntaxError: invalid decimal literal (3590281317.py, line 1)

Variable name should not start with numbers

In [20]:
na2mes="Arun","Yadav"
na2mes

('Arun', 'Yadav')

In [21]:
name_lists="Arjun","Pal"
name_lists

('Arjun', 'Pal')

In [22]:
name+lists="Arjun","Pal"
name+lists

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1501103227.py, line 1)

The only allowed special character is underscore

In [23]:
_names="Python"
_names

'Python'

Variable names can start with A-Z,a-z,_

### Lists

In [26]:
sample_list=[1,2,3,4,5,6,7,8,9,"hi"]
sample_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi']

In [27]:
sample_list=[1,2,3,4,0,-1,1,2.2,"hi"]
sample_list

[1, 2, 3, 4, 0, -1, 1, 2.2, 'hi']

In [28]:
type(sample_list)

list

In [29]:
sample_list[0]

1

In [30]:
sample_list[10]

IndexError: list index out of range

In [31]:
sample_list[-3]

1

In [32]:
sample_list[0]=100
sample_list

[100, 2, 3, 4, 0, -1, 1, 2.2, 'hi']

### NOTES FOR LISTS

1.Elements are seperated by SQUARE BEACKETS
2.Elements can be retrived using index
3.List is mutable-> we can change it
4.List is heterogenous because it has multiple data types

### Tuples

In [33]:
sample_tuple=(1,2,3,4,5)
sample_tuple

(1, 2, 3, 4, 5)

In [35]:
sample_tuple[0]

1

In [36]:
sample_tuple[-1]

5

In [37]:
sample_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

Note: Tuple is not mutable like list.Once we have created that we cannot make any changes.
    'tuple' object does not support item assignment.

### Notes for Tuple

1. Tuple is immutable-> we cannot make changes
2. () or no brackets -> it could be written with the brackets or also without any brackets

### Dictionary

In [43]:
dict_1={'name':"arun","hobbies":["Painting","Singing"],5:2.3}
dict_1

{'name': 'arun', 'hobbies': ['Painting', 'Singing'], 5: 2.3}

In [44]:
type(dict_1)

dict

In [45]:
dict_1

{'name': 'arun', 'hobbies': ['Painting', 'Singing'], 5: 2.3}

In [47]:
dict_1.keys()

dict_keys(['name', 'hobbies', 5])

In [48]:
dict_1.values()

dict_values(['arun', ['Painting', 'Singing'], 2.3])

### Notes for Dictionary

1. Dictionary has key-value pair data structure.
2. we can retrive values using index.
3. Dictionary is mutable-> able to make changes.
4. In dictionary we can find out the curly brackets.

In [49]:
dict_1['hobbies']

['Painting', 'Singing']

In [50]:
dict_1["names"]="Yadav"

In [51]:
dict_1

{'name': 'arun', 'hobbies': ['Painting', 'Singing'], 5: 2.3, 'names': 'Yadav'}